:root {
    --main-bg-color: rgb(251, 79, 104);
    --main-bg-color-a: rgba(251, 79, 104, 0.8);
    --main-bg-color-a1: rgba(251, 79, 104, 0.28);
    --main-bg-color-a2: rgba(251, 79, 104, 0.2);
    --main-bg-color-dark: rgba(0, 0, 0, 0.12);
    --main-bg-color-light: #fff;
    --main-bg-image: #ef5350;
    --main-bg-image2: #FB4F68;
    --main-bg-image-dark: #D2D2D2;
    --main-bg-image-dark2: #D2D2D2;
}
